*{
    /* border-top: 10px solid #1098ad */
    margin:0;
    padding:0;
} 

body{
    background-color:#f5efef;
    font-family:sans-serif;
    color:#444;
}  
.main-header{
    background-color:#f7f7f7;
    /* padding: 20px;
    padding-left : 40px;
    padding-right: 40px; */
    padding : 20px 40px;
    margin-bottom : 60px;
}

.post-header
{
    margin-bottom: 40px;
}

article
{
    margin-left:10px;
    margin-bottom:60px;
}
h1, h2, h3{
    color:rgb(15, 15, 125)
}
h1
{
    font-size:26px;
    text-transform:uppercase;
    font-style:italic;
}
h2
{
    font-size:40px;
    margin-bottom:30px;
}
h3{
    font-size:30px;
    margin-bottom:20px;
    margin-top:40px;

}
h4{
    font-size:20px;
    text-transform:uppercase;
    text-align:center;
}
p
{
    font-size:20px;
    line-height:1.5;     /*space between lines */
    margin-bottom:15px;
}
ul,ol{
    margin-left:50px;
    margin-bottom:30px;
}
li{
    font-size:18px;
    margin-bottom:10px;
}
li:last-child
{
    margin-bottom:0px;
}

/* footer p{
    font-size:16px;
} */
/*
header p{
    font-style:italic;
}
*/
#author {
    font-style:italic;
    font-size:18px;
}
#copyright {
    font-size:16px;
}
.related-author{
    font-size:18px;
    font-weight:bold;
}
.related{
    list-style:none;
}

/* Applying borders*/

aside{
    background-color:#f7f7f7;
    /* border:5px solid #1098ad;   */
    border-top:  5px solid #1098ad;
    border-bottom:  5px solid #1098ad;
    /* border-left:  5px solid #1098ad; */
    /* border-right:  5px solid #1098ad; */
    padding:50px 0px;
}

/* PSEUDO CLASSES */
 
li:first-child{
    text-decoration: underline;
}
li:last-child{
    text-decoration: underline;
}
li:nth-child(1){
    color:red;
}
li:nth-child(odd){
    font-weight:bold;
}
li:nth-child(even){
    font-style:italic;
}


/* Styling Links with pseudo classes*/
/* LVHA --> link, visited, hover, active */
a:link{
    color:#098092;
    text-decoration:none;
}

/* a:visited{              Applys to the links which are visited
    color:#681cda;
} */

a:hover{
    color:orangered;
    font-weight:bold;
    text-decoration:underline solid orangered;
}
a:active{                     /*When link is clicked*/
    background-color:black;
    font-style:italic;
}

/* Selectors priority

1. With !important keyword
2. Inline style element
3. ID 
4. Class
5. Pseudo class
6. Element selector
7. Universal selector

*/

nav a:link{
    font-size:18px;
}
